* {
  margin: 0px;
  padding: 0px;
}
/*
#463f3a
#35ff69
#8a817c
#ffae03
#f2f2f2
*/

body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #463f3a;
  background-size: cover;
  background-image: url('/assets/bg-3.png');

}
.container {
  display: flex;
  flex-direction: column;
  height: 85vh;
  justify-content: space-between;

}
.container > .bar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.coin-container{
  border-radius: 8px;
}
.timer{
  width: 100px;
  text-align: center;
  background-color: #ffae03;
  opacity: 0.9;
  border-radius: 10px;
}
.btn{
  background-color: #8a817c;
  border-radius: 50%;
}
.board {
  display: grid;
  grid-template-columns: repeat(8, 40px);
  grid-template-rows: repeat(8, 40px);
  gap: 2.5px;
}

.box {

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  opacity: 0.8;
  /* From https://css.glass */
  background: rgba(255, 174, 3, 0.6);

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.2px);
  -webkit-backdrop-filter: blur(7.2px);
}

.box > .coin-container {
  /*margin: 2px;*/
  padding: 5px;
  opacity:1;
}

.ball {
  position: absolute;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #61502f;
  transition: transfrom 3s linear;
}
.timer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.timer > img{
  height: 15px;
  width: 25px;
}
.btn {
  align-items: center;
  appearance: none;
  background-color: #463f3a;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(214, 214, 231, 0.18) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #f2f2f2;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 36px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.btn:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(214, 214, 231, 0.67) 0 -3px 0 inset;
}

.btn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(214, 214, 231, 0.48) 0 -3px 0 inset;
  transform: translateY(-2px);
}

.btn:active {
  box-shadow: rgba(214, 214, 231, 0.42) 0 3px 7px inset;
  transform: translateY(2px);
}

nav{
  visibility: hidden;
}
.other-controls{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.left--rotate-btn,.right--rotate-btn{
  visibility: hidden;
}
/* Mobile Phones - Portrait */
@media only screen and (max-width: 480px) {
  .game-screen{
    display: flex;
    flex-direction: column;
  }
  .container {
    justify-content: space-evenly;
  }
  .timer{
    height: 40px;
    font-size: 20px;
  }
  .nav-text{
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: "JetBrains Mono", monospace ;
  }
  nav{
    position: absolute;
    top:0px;
    left:0px;
    visibility: visible;
    width: 100%;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* From https://css.glass */
    background: rgba(138, 129, 124, 0.86);

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.3px);
    -webkit-backdrop-filter: blur(5.3px);
    border: 1px solid rgba(138, 129, 124, 1);
  }
}

/* Mobile Phones - Landscape */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* CSS rules for mobile phones in landscape orientation */
}

/* Tablets - Portrait */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* CSS rules for tablets in portrait orientation */
}

/* Tablets - Landscape */
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  /* CSS rules for tablets in landscape orientation */
}

/* Smaller Screens - Laptops and Desktops */
@media only screen and (min-width: 1281px) and (max-width: 1440px) {
  /* CSS rules for smaller screens (laptops and smaller desktops) */
}

/* Medium Screens - Laptops and Desktops */
@media only screen and (min-width: 1441px) and (max-width: 1920px) {
  /* CSS rules for medium screens (larger laptops and desktops) */
}

/* Larger Screens - Laptops and Desktops */
@media only screen and (min-width: 1921px) {
  /* CSS rules for larger screens (large desktops and beyond) */
}

/* Large Desktops - Full HD Screens */
@media only screen and (min-width: 1921px) and (min-height: 1080px) {
  /* CSS rules for large desktops with Full HD resolution */
}

/* Large Desktops - 4K and Higher Resolution Screens */
@media only screen and (min-width: 2560px) {
  /* CSS rules for large desktops with 4K and higher resolution screens */
}
